.container {
  background: lightgrey;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
  width: 500px;
  margin:0 auto 50px;
}

.home {
  width: 100%;
  text-align: center;
  height: 500px;
  margin: auto;
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  background:  #f5f5da;
  width: 500px;
}
.footer {
  position: absolute;
  bottom: 0;
  background:  #f5f5da;
  width: 500px;
}
