.container {
  background: lightgrey;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
  width: 100%;
}

.home {
  width: 100%;
  text-align: center;
  height: 500px;
  position: relative;
  left: 450px;
}

.header {
  position: absolute;
  top: 0;
  background:  #f5f5da;
  width: 500px;
}

.content {
  position: absolute;
  background:  #f5f5da;
  top: 200px;
  width: 500px;
}

.footer {
  position: absolute;
  bottom: 0;
  background:  #f5f5da;
  width: 500px;
}
